.login-form
{
	width:300px;
	height:500px;
	border-radius: 10px;
	margin:30px auto;
	box-shadow: 0 0 25px #3F51B5;
	background-color: #fff;
}

div.login-img
{
	background-image:url(../images/login-1.png) ;
	background-position: center; 
	height:160px;
	background-repeat: no-repeat;
}
.mui-input-row .mui-input-clear
{
	width: 260px;
	height: 60px;
	text-align: center;
	margin: 10px 20px;
	font-size: 18px;
}
.mui-input-row .mui-input-password
{
	width: 260px;
	height: 60px;
	text-align: center;
	margin: 0 20px;
	font-size: 18px;
}
.mui-icon-eye 
{
    top: 18px !important;
    right: 18px !important;;
}
.mui-btn
{
	width:260px;
	height:60px;
	color: #fff;
	font-size: 20px;
	font-style: normal;
	font-family: "微软雅黑";
	background-color: #3F51B5;
	margin:30px 0;
}
