<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<link rel="stylesheet" href="program.css" />
	<link rel="stylesheet" href="../../../../plugins/fontawesome-free-5.0.13/web-fonts-with-css/css/fontawesome-all.min.css" />
	<script type="text/javascript" src="../../../../js/jquery.min.js" ></script>
	<body>
		<div id="wrapper">
			<div id="header">
				<img src="../../images/top_title.png"/>	
			</div>
			<div id="topmenu">
				<ul>
					<li><a href="#">HOME</a></li>
					<li><a href="#">PROGRAM</a></li>
					<li><a href="#">DELEGATES LIST</a></li>
					<li><a href="#">SPONSORS</a></li>
					<li><a href="#">TECHNICAL TOUR</a></li>
					<li><a href="#">DEADLINE</a></li>
					<li><a href="#">VENUE</a></li>
					<li><a href="#">TRAVEL</a></li>
					<li><a href="#">PAST EVENTS</a></li>
					<li><a href="#">DOWNLOAD</a></li>
				</ul>
			</div>
			<div id="content-menu_wrap">
				<div id="container-1columns1">
					<div id="content-1column">
						<article>
							<ul class="actions">
								<li>
									<a>E-Mail</a>	
								</li>
							</ul>
							<h1>MMS2016 PROGRAM</h1>
							<p><a class="pdf" href="./docs/MMS2016_PROGRAM.pdf">MMS2016 PROGRAM(PDF 51.4KB)</a></p>
							<h2>Tuesday, May 24, 2016</h2>
							<table>
								<colgroup span="2">
									<col width="120"/>
									<col width="600"/>
								</colgroup>
								<tr>
									<td>18:00 -</td>
									<td>Welcome Reception (Registration) -- "Lounge", 1F, Hyatt Regency Tokyo</td>
								</tr>
							</table>
							<h2>Wednesday, May 25, 2016</h2>
							<table>
								<colgroup><col width="120"><col width="620"></colgroup>
								<tbody>
								<tr>
									<td>8:30 - 11:00</td>
									<td>Registration -- "EXCELLECE", 27F, Hyatt Regency Tokyo</td>
								</tr>
								</tbody>
							</table>
							<p>at the "EXCELLECE", 27F, Hyatt Regency Tokyo</p>
							<h3>Opening Session</h3>
							<table>
								<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
								<thead>
								<tr>
									<td>Time</td>
									<td> </td>
									<td> </td>
								</tr>
								</thead>
								<tbody>
								<tr>
									<td>9:00 - 9:10</td>
									<td>Opening Remarks</td>
									<td>Isao Shimoyama</td>
								</tr>
								</tbody>
							</table>
							<h3>Session 1: Country and Region Reviews (Part I)</h3>
							<p>Session Chair: Paolo Dario / Daniel Lupi</p>
							<table>
				<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
				<thead>
				<tr>
					<td>Time</td>
					<td>Country/Region</td>
					<td>Chief Delegate</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>9:10 - 9:25</td>
					<td>Benelux -</td>
					<td>Albert Van den Berg</td>
				</tr>
				<tr>
					<td>9:25 - 9:40</td>
					<td>European Commission -</td>
					<td>Henri Rajbenbach</td>
				</tr>
				<tr>
					<td>9:40 - 9:55</td>
					<td>France - Overview of French activity</td>
					<td>Michel de Labachelerie</td>
				</tr>
				<tr>
					<td>9:55 - 10:10</td>
					<td>Germany - Country Overview Germany</td>
					<td>Thomas Gessner</td>
				</tr>
				<tr>
					<td>10:10 - 10:25</td>
					<td>Iberia -</td>
					<td>Carles Cané</td>
				</tr>
				</tbody>
				</table>
				<h3>Session 1: Country and Region Reviews (Part I)</h3>
				<p>Session Chair: Paolo Dario / Daniel Lupi</p>
				<table>
				<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
				<thead>
				<tr>
					<td>Time</td>
					<td>Country/Region</td>
					<td>Chief Delegate</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>9:10 - 9:25</td>
					<td>Benelux -</td>
					<td>Albert Van den Berg</td>
				</tr>
				<tr>
					<td>9:25 - 9:40</td>
					<td>European Commission -</td>
					<td>Henri Rajbenbach</td>
				</tr>
				<tr>
					<td>9:40 - 9:55</td>
					<td>France - Overview of French activity</td>
					<td>Michel de Labachelerie</td>
				</tr>
				<tr>
					<td>9:55 - 10:10</td>
					<td>Germany - Country Overview Germany</td>
					<td>Thomas Gessner</td>
				</tr>
				<tr>
					<td>10:10 - 10:25</td>
					<td>Iberia -</td>
					<td>Carles Cané</td>
				</tr>
				</tbody>
				</table>
				<h3>Session 1: Country and Region Reviews (Part I)</h3>
				<p>Session Chair: Paolo Dario / Daniel Lupi</p>
				<table>
				<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
				<thead>
				<tr>
					<td>Time</td>
					<td>Country/Region</td>
					<td>Chief Delegate</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>9:10 - 9:25</td>
					<td>Benelux -</td>
					<td>Albert Van den Berg</td>
				</tr>
				<tr>
					<td>9:25 - 9:40</td>
					<td>European Commission -</td>
					<td>Henri Rajbenbach</td>
				</tr>
				<tr>
					<td>9:40 - 9:55</td>
					<td>France - Overview of French activity</td>
					<td>Michel de Labachelerie</td>
				</tr>
				<tr>
					<td>9:55 - 10:10</td>
					<td>Germany - Country Overview Germany</td>
					<td>Thomas Gessner</td>
				</tr>
				<tr>
					<td>10:10 - 10:25</td>
					<td>Iberia -</td>
					<td>Carles Cané</td>
				</tr>
				</tbody>
				</table>
				<h3>Session 1: Country and Region Reviews (Part I)</h3>
							<p>Session Chair: Paolo Dario / Daniel Lupi</p>
				<table>
				<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
				<thead>
				<tr>
					<td>Time</td>
					<td>Country/Region</td>
					<td>Chief Delegate</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>9:10 - 9:25</td>
					<td>Benelux -</td>
					<td>Albert Van den Berg</td>
				</tr>
				<tr>
					<td>9:25 - 9:40</td>
					<td>European Commission -</td>
					<td>Henri Rajbenbach</td>
				</tr>
				<tr>
					<td>9:40 - 9:55</td>
					<td>France - Overview of French activity</td>
					<td>Michel de Labachelerie</td>
				</tr>
				<tr>
					<td>9:55 - 10:10</td>
					<td>Germany - Country Overview Germany</td>
					<td>Thomas Gessner</td>
				</tr>
				<tr>
					<td>10:10 - 10:25</td>
					<td>Iberia -</td>
					<td>Carles Cané</td>
				</tr>
				</tbody>
				</table>
				<h3>Session 1: Country and Region Reviews (Part I)</h3>
							<p>Session Chair: Paolo Dario / Daniel Lupi</p>
				<table>
				<colgroup><col width="120"><col width="400"><col width="220"></colgroup>
				<thead>
				<tr>
					<td>Time</td>
					<td>Country/Region</td>
					<td>Chief Delegate</td>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>9:10 - 9:25</td>
					<td>Benelux -</td>
					<td>Albert Van den Berg</td>
				</tr>
				<tr>
					<td>9:25 - 9:40</td>
					<td>European Commission -</td>
					<td>Henri Rajbenbach</td>
				</tr>
				<tr>
					<td>9:40 - 9:55</td>
					<td>France - Overview of French activity</td>
					<td>Michel de Labachelerie</td>
				</tr>
				<tr>
					<td>9:55 - 10:10</td>
					<td>Germany - Country Overview Germany</td>
					<td>Thomas Gessner</td>
				</tr>
				<tr>
					<td>10:10 - 10:25</td>
					<td>Iberia -</td>
					<td>Carles Cané</td>
				</tr>
				</tbody>
				</table>
						</article>
					</div>
				</div>
				
			</div>
		</div>
	</body>
	<script>

	</script>
</html>
